*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main{
    background-color: black;
    width: 100vw;
    height: 90vh;
}

header.commands{
    display: flex;
    justify-content: flex-end;
}

header.commands button{
    background-color: rgba(126, 126, 126, 0.5);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

section.webcams{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
}

section.webcams div.cam{
    background-image: url(https://picsum.photos/300/200);
    width: 300px;
    height: 200px;
    margin: 0.25rem;
    display: flex;
    align-items: flex-end;
}

div>p{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;    
}

footer{ /*Footer*/
    width: 100vw;
    height: 10vh;
    background-color: #222222;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer button, footer>div{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    padding: 1rem;
    color: white;
}

#misc>button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer button>i{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

#misc{
    display: flex;
    justify-content: center;
}

.fa-share-from-square{
    color: green;
}

#end-call{
    background-color: #4a4a4a;
    color: red;
    padding: 0rem 1rem;
    border: 0px;
    line-height: 7;
}